.cloud {
    background: rgba(255, 255, 255);
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    padding: 2em 6em;
}

.cloud-top {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 12em;
    margin-bottom: -80px;
    z-index: -1;
}

.cloud-top-left {
    display: block;
    content: '';
    background: rgba(255, 255, 255);
    width: 30%;
    height: 80%;
    border-radius: 50%;
    margin-left: 60px;
}

.cloud-top-right {
    content: '';
    background: rgba(255, 255, 255);
    position: relative;
    width: 35%;
    height: 100%;
    border-radius: 50%;
    margin-left: -30px;
}

.sun {
    position: absolute;
    width: 200px;
    height: 200px;
    background: gold;
    border-radius: 50%;
    top: 100px;
    right:-40px;
    z-index: -2;
    transition: transform 1s ease-out;
}

/* Shared animation properties */
.sun.rising,
.sun.setting {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* Rising */
.sun.rising {
    transform: translate(130px, -120px);
}

/* Setting */
.sun.setting {
    transform: translate(-100px, 0px);
}

@keyframes riseRotate {
    from {
        top: 80px;
        transform: rotate(0deg);
    }
    to {
        top: 10px;
        transform: rotate(15deg);
    }
}

@keyframes setRotate {
    from {
        top: 10px;
        transform: rotate(15deg);
    }
    to {
        top: 80px;
        transform: rotate(0deg);
    }
}